:root {
	--indent: 8px;
	--indent2: calc(var(--indent)* 2);
	--indent3: calc(var(--indent)* 3);
	--indent-one-half: calc(var(--indent)* 1.5);
	--indent-half: calc(var(--indent)* 0.5);
	--font-family: Trebuchet MS, Roboto, Ubuntu, sans-serif;
	--font-size: 28rpx;
	--font-big: 32rpx;
	--font-small: 26rpx;
	--font-tiny: 24rpx;
	--button-radius: 6rpx;
	--button-font-size: 30rpx;
	--menu-shadow: 0px 6rpx 16rpx 4rpx rgba(0, 0, 0, 0.1);
	--popup-shadow: 0px 32rpx 84rpx 16rpx rgba(0, 0, 0, 0.12);
	--bot-bar-height: calc(var(--indent)* 7 + 2rpx + env(safe-area-inset-bottom) / 2);
	--m-screen-header-height: calc(var(--indent)* 6 + 2rpx);
	--history-custom-period-height-mobile: calc(var(--indent)* 6.5);
	--history-custom-period-height-desktop: calc(var(--indent)* 4);
	--save-left: env(safe-area-inset-left);
	--save-right: env(safe-area-inset-right);
	--screen-width: calc(100% - var(--save-left) - var(--save-right));
	--zIndex-base: 1;
	--zIndex-mainScreen: 1;
	--zIndex-screenHeader: 30;
	--zIndex-popupScreen: 100;
	--zIndex-contextMenu: 150;
	--color-background: #ffffff;
	--color-bottomPanel: #f7f7f7;
	--color-border: #e8e8e8;
	--color-card: #ffffff;
	--color-icon-default: #554c49;
	--color-icon-disabled: #d1d1d1;
	--color-fill-blue: #3183ff;
	--color-fill-blueHover: #4b93ff;
	--color-fill-blueActive: #2e79eb;
	--color-fill-red: #ea4c4c;
	--color-fill-red-rgb: 234, 76, 76;
	--color-fill-green: #36b34b;
	--color-fill-green-rgb: 54, 179, 75;
	--color-fill-greenHover: #41be56;
	--color-fill-greenActive: #2e9d41;
	--color-fill-redHover: #f45959;
	--color-fill-redActive: #f54b4b;
	--color-fill-lightBlue: #f1f9ff;
	--color-fill-lightBlueHover: #e5f4ff;
	--color-fill-lightBlueActive: #d9e9f4;
	--color-fill-lightRed: #fdf1f1;
	--color-fill-lightRedHover: #fae8e8;
	--color-fill-lightRedActive: #f9e3e3;
	--color-fill-orange: #ec7017;
	--color-fill-orangeHover: #ff8933;
	--color-fill-orangeActive: #e06d1a;
	--color-fill-lightYellow: #fdfaf1;
	--color-fill-total: #f0f5f9;
	--color-text-default: #000000;
	--color-text-secondary: #808080;
	--color-text-inverted: #ffffff;
	--color-text-red: #d80000;
	--color-text-blue: #0b71f3;
	--color-text-green: #219334;
	--color-text-orange: #bd571e;
	--color-text-disabled: #a7b0b8;
	--color-input-fill-disabled: #f4f5f6;
	--color-input-border-default: #dddddd;
	--color-input-border-hover: #87cafe;
	--color-input-border-invalid: #b82424;
	--color-button-disabled: #d1d1d1;
	--color-scroll: #9f9f9f;
	--color-dark: 0;
}